﻿@model IEnumerable<Producks.Web.ViewModels.ProductViewModel>

@{
	ViewData["Title"] = "Index";
}

<h1>Index</h1>

<form asp-action="Index">
	<p>
		Category
		<select name="categoryName" asp-items="ViewBag.CategoryName">
			<option value=""></option>
		</select>
		Brand
		<select name="brandName" asp-items="ViewBag.BrandName">
			<option value=""></option>
		</select>
		Price from <input type="number" name="priceFrom" />
		to <input type="number" name="priceTo" />
		<input type="submit" value="Filter" />
	</p>
</form>

<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Name)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.CategoryName)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.BrandName)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Description)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Price)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.InStock)
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.Name)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.CategoryName)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.BrandName)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Description)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Price)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.InStock)
				</td>
			</tr>
		}
	</tbody>
</table>
